*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
}


.app-container{
  display: flex;
}
.content-container{
  width: 100%;
}
.side-bar{
  min-height: 822px;
}

.create-post{
  width: 80%;
    margin-top: 50px;
    margin-left: 10%;
}
.post-card{
  margin: 20px 50px;

}
.hashtag{
  margin: 0px 3px;
}
.footer-container{
  margin-top: 24%;
}
 .post-container{
   display: grid;
grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
.heading-container{
display: flex
;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
    flex-direction: row;
    gap: 20px;
    width: 75vw;
}